---
Checks:
  - '*'
  - '-*trailing-return-type'
  - '-*nodiscard'
  - '-*implementation-in-namespace'
  - '-*strict*headers'
  - '-*using-namespace'
  - '-*magic*numbers'
  - '-*underscore-in*test*name'
  - '-*llvm*header*guard'
  - '-*include*cleaner'
  - '-*const*correctness'
  - '-*inline*func*decl*'
  - '-*identifier-length'
  - '-*swappable-param*'
  - '-fuchsia*'
  - '-*callee-namespace'
  - '-*owning-memory'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: ''
FormatStyle:     none
SystemHeaders:   false
...

