---
Checks:
  - '*'
  - '-*trailing-return-type'
  - '-*nodiscard'
  - '-*implementation-in-namespace'
  - '-*strict*headers'
  - '-*using-namespace'
  - '-*magic*numbers'
  - '-*underscore-in*test*name'
  - '-*llvm*header*guard'
  - '-*include*cleaner'
  - '-*const*correctness'
  - '-*inline*decl'
  - '-*callee*namespace'
  - '-*-non-private-member-variables-in-classes'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: ''
FormatStyle:     none
SystemHeaders:   false
...

